# Ambiente virtual
venv/
ENV/
env/
.venv/

# Arquivos de cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de banco de dados SQLite
*.sqlite3
*.db

# Configurações do VSCode
.vscode/

# Arquivos temporários
*.log
*.tmp
*.bak

# Arquivos de sistema
.DS_Store
Thumbs.db
